.education {
  width: 100%;
  height: 100%;
}

.header {
  color: whitesmoke;
  font-size: 3rem;
  margin-left: 2rem;
}

.education_card {
  margin: 2rem 2rem;
  display: inline-block;
}

.education_card :global(.ant-card) {
  border-radius: 1rem;
}
.education_card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}
